.products {
  height: 100vh;
  padding-top: 50px;
}

.products h2 {
  font-size: var(--title-font-size);
  text-align: center;
  display: block;
}

.products .box {
  margin-top: 15px;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  grid-gap: 25px;
  justify-items: center;

  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}
